@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Pseudo class is a selector that selects elements that are in a specific state and pseudo element is similar but they act like that we have added a new html elment into the document - they use '::' */

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

/* :is has specificity and takes the highest specificity among all and we can also use :where that has no specificity so we can override whatever we defined inside where pseudo class */
header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

/* link state is the unvisited link or even we can leave it blank - any link pseudo class selects both the link and the visited pseudo class*/
nav a:any-link {
  color: #000;
}

/* Descendant selector that selects any anchor element within the nav */
/* inside nav if anchor with hover or anchor with focus state apply this style - using is pseudo classes*/
nav :is(a:hover, a:focus) {
  color: hsla(0, 0%, 20%, 0.6);
}

nav a:active {
  color: red;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

footer {
  bottom: 0;
}

/* || PROFILE CARD */
.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* target pseudo class */
.card:target {
  /* who ever is the target of our selection(href id) will get this styles */
  border: 3px solid rebeccapurple;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  border: 5px double #333;
  border-radius: 50%;
}

/* selecting any img with 'alt' attribute */
/* .card img[alt] {
  border: 5px solid red;
} */

/* :not pseudo class and wrap the attribute in parenthesis - img that doesnt contain alt attribute on */
.card img:not([alt]) {
  border: 5px solid red;
}

/* selecting the cards itself - selects the 2nd card in the html - can also use even or odd values instead of number*/
.card:nth-child(2) {
  background-color: papayawhip;
}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

/* pseudo element */
.card figcaption::after {
  /* content will be added to each figcaption - this was not really an html element so we cant select it just added using after pseudo element selector */
  content: "🌟";
  /* content to be displayed on a different line */
  display: block;
}

.card figcaption::first-letter {
  font-size: 3rem;
}

.card p {
  position: relative;
}

/* we can style the quotes however we want to - instead of using the html quote element */
.card p::before {
  content: open-quote;
  font-size: 2em;
  position: absolute;
  top: -0.25em;
  left: -0.5em;
}

.card p::after {
  content: close-quote;
  font-size: 2em;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
}

/* || SMALL */
@media screen and (min-width: 576px) {
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .card {
    width: min(100%, 400px);
  }
  .card:last-child {
    order: -1;
  }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
  nav {
    display: none;
  }
  .card {
    width: min(100%, 325px);
  }
  .card figure {
    flex-flow: column-reverse;
  }
  .card p {
    margin-top: 1rem;
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  .card {
    width: min(100%, 400px);
  }
  .card:nth-child(2) {
    order: -1;
  }
}

/* || XL  */
@media screen and (min-width: 1200px) {
  .card {
    width: min(calc(33% - 1rem), 500px);
  }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }

  .card figcaption,
  .card p {
    font-size: 1.25rem;
  }
}
